<%- view_title "Information types" %>

<% content_for :main do %>
<div class="row">
  <div class="col-12">
    <h1 class="page-header">Information types</h1>
    <p class="lead">Information types are the lowest level in the taxonomy of information types. There are <%= @information_types.count %> of them. Here they are:</p>

    <%= information_types_table(@information_types) %>
  </div>
</div>
<% end %>
