/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 3.5rem;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #fafafa;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
#footer img {
	height: 30px;
	padding: 0px;
	margin: 0px;
}
/* line 1, lib/assets/stylesheets/typography.css.scss */
h1.anchor, h2.anchor, h3.anchor, h4.anchor {
  padding-top: 80px;
  margin-top: -80px;
}

/* line 6, lib/assets/stylesheets/typography.css.scss */
p {
  text-align: justify;
}

/* line 10, lib/assets/stylesheets/typography.css.scss */
.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 2.50em;
  font-weight: bold;
}

/* line 16, lib/assets/stylesheets/typography.css.scss */
.fancy {
  font-family: 'Righteous', cursive;
}

/* line 20, lib/assets/stylesheets/typography.css.scss */
.giant {
  font-size: 3.00em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
}

/* line 27, lib/assets/stylesheets/typography.css.scss */
.popover div.small {
  word-break: break-all;
}

/* line 31, lib/assets/stylesheets/typography.css.scss */
.popover > .arrow {
  visibility: hidden;
}

/* line 35, lib/assets/stylesheets/typography.css.scss */
th, td {
  font-family: "Share Tech Mono";
}
/*
 * Global add-ons
 */


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* line 5, app/assets/stylesheets/information_classes.scss */
div.card {
  margin-bottom: 1.50em;
}
/* line 1, app/assets/stylesheets/plus.scss */
tr[data-link]:hover {
  cursor: pointer;
}
/* line 5, app/assets/stylesheets/welcome.scss */
.big-search input {
  width: 100%;
  padding: 1.00em 1.00em 0.25em 2.50em;
  margin: 75px 0 0 0;
  font-size: 2.00em;
  color: #cfcfcf;
  border: none;
  border-bottom: solid 4px #cfcfcf;
  transition: border 0.5s, color 0.5s;
}

/* line 18, app/assets/stylesheets/welcome.scss */
.big-search input:focus {
  outline: none;
  color: #585858;
  border-bottom: solid 4px #585858;
  transition: border 0.5s, color 0.5s;
}

/* line 27, app/assets/stylesheets/welcome.scss */
.big-search span {
  position: absolute;
  padding: 2.25em 0 0 0.25em;
  font-size: 3.00em;
  color: #cfcfcf;
}

/* line 35, app/assets/stylesheets/welcome.scss */
#big-search input[type="submit"] {
  visibility: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *







 */

