<%- view_title "Information classes" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header">Information classes</h1>
    <p class="lead">Information classes are the highest level in the taxonomy of information types. Numbering is a little weird at this root level, but there are <%= @information_classes.count %> of them and they're listed below:</p>
    <% @information_classes.each do |information_class| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= "#{information_class.class_code} - #{information_class.name}" %></div>
      <div class="panel-body">
        <p><%= information_class.description %></p>
      </div>
      <ul class="list-group">
        <% information_class.information_groups.each do |information_group| %>
        <li class="list-group-item">
          <%= link_to("#{information_group.group_code} - #{information_group.name}", information_group_path(information_group.id)) %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
<% end %>
