<%- view_title "Information classes" %>

<% content_for :main do %>
<div class="row">
  <div class="col-12">
    <h2>Information classes</h2>
    <p class="lead">Information classes are the highest level in the taxonomy of information types. Numbering is a little weird at this root level, but there are <%= @information_classes.count %> of them and they're listed below:</p>
    
    <% @information_classes.each do |information_class| %>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= "#{information_class.class_code} - #{information_class.name}" %>
        </h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= information_class.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <% information_class.information_groups.each do |information_group| %>
        <li class="list-group-item">
          <%= link_to("#{information_group.group_code} - #{information_group.name}", information_group_path(information_group.group_code)) %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
<% end %>
